.classpath
.project
.settings/

.idea/

at.meikel.dmrl.server/.classpath
at.meikel.dmrl.server/.project

target/

/at.meikel.dmrl.taglib/.checkstyle
/at.meikel.dmrl.server/sample-server/data
/at.meikel.dmrl.server/sample-server/logs